<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
	</configSections>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client"/>
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<publisherPolicy apply="no"/>
				<assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
				<bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<oracle.manageddataaccess.client>
		<version number="*">
			<dataSources>
				<dataSource alias="WES" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=hclab)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
				<dataSource alias="DIAMOND" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.10.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
				<dataSource alias="LILOAN" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.51.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
				<dataSource alias="TABUNOK" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.12.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
				<dataSource alias="MACTAN" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.21.100)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
				<dataSource alias="NAGA" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.20.5.10)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
				<dataSource alias="CONSO" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=10.62.2.10)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
				<dataSource alias="TESTDB" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=192.171.12.127)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=hclab))) "/>
			</dataSources>
		</version>
	</oracle.manageddataaccess.client>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuScrollBar" publicKeyToken="e8e24ccd28363fe9" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Bunifu.UI.WinForms.BunifuFormDock" publicKeyToken="e8e24ccd28363fe9" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="app_name" value="AdminTools.Exe" />
		<add key="update_folder" value="\\10.10.11.17\Program_Updates\ITAdminTools\Updates" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
</configuration>
